<div>
<h1> All comics in database: </h1>

<% @comics.each do |comic|%>
  <ul>
  <li><%= comic.title %> </li>
  <li><%= comic.author %> </li>
  <li><%= comic.year %> </li>
  <li><%= comic.publisher %> </li>
  <% if user_signed_in? %>
  <%= button_to 'Purchase', {:controller => "transactions", :action => "create", :seller_id => comic.user_id, :buyer_id=> current_user.id, :comic_id => comic.id} , {:method=>:post}  %>
  <% end %>

</ul>
  <% end %>
  </div>
