<div>
    <%= form_for [Comic.new] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <br>
    <%= f.label :year %>
    <%= f.number_field :year %>
    <br>
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br>
    <%= f.button %>
    <% end %>
</div>
