<div>
  <ul>
    <li><%= @comic.title %></li>
    <li><%= @comic.author %></li>
    <li><%= @comic.year %></li>
    <li><%= @comic.publisher %></li>
  </ul>
  <%= link_to("Delete", "/comics/#{@comic.id}", method: :delete, data: {confirm: "Are you sure?"}) %>
</div>
